{% extends 'base.html.twig' %}

{% block title %}Toutes les planètes{% endblock %}

{% block body %}

<section class="universe">
    <div class='container'>
        <h1 class="text-center text-white">Les planètes du système solaire</h1>

        <div class="row mt-5">
            {% for planets in planets %}
                <div class="card col-md-3 mx-2 mt-3" style="width:19rem">
                    <img class="card-img-top" style="height:350px" src="{{planets.photo}}">

                    <div class="card-body">
                        <h5 class="text-center card-title"><strong>{{planets.nom}}</strong></h5>
                        <h5 class="text-center card-title">{{planets.superficie}}</h5>
                        <h5 class="text-center card-title">{{planets.type}}</h5>

                        <a class="btn btn-primary text-center voir" href="{{path('app_single_planet', {id:planets.id})}}">Voir</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <br>
</section>
{% endblock %}