{% extends 'base.html.twig' %}

{% block title %}Hello DanganController!{% endblock %}

{% block body %}
<h1 class="text-center text-danger">{{planets.nom}}</h1>

<div class="container">

  <div class="card mb-3">
    <img src="{{planets.photo}}" class="card-img-top"/>

    <div class="card-body">
      <h5 class="card-title text-center">Superficie : {{planets.superficie}}</h5>
      <h5 class="card-text text-center">Type : {{planets.type}}</h5>
      {# <h5 class="card-text text-center">Type : {{planets.description}}</h5> #}
    </div>
  </div>
{% endblock %}